.button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  transition: all 0.25s;
}

.button:hover {
  background-color: #074e9b;
}

.button:disabled {
  cursor: default;
  background-color: #61aeff;
  color: #ffffff
}